Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,
  
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-throwing-static-initialization, # False positives while declaring custom GUI events,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-owning-memory, # Because of false positives using wxWidgets,
  -cppcoreguidelines-pro-type-member-init, 
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access, # False positives with nlohmann_json

  # disabled until Position(Inputdata &&) is deleted,
  -cppcoreguidelines-rvalue-reference-param-not-moved,

  misc-const-correctness,
  misc-header-include-cycle,
  misc-misplaced-const,
  misc-non-copyable-objects,
  misc-redundant-expression,
  misc-static-assert,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release-,

  modernize-*,
  -modernize-use-auto,
  -modernize-modernize-avoid-variadic-functions,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-avoid-variadic-functions,
  -modernize-use-nodiscard,

  performance-*,
  -performance-enum-size,

  readability-*,
  -readability-trailing-comma,
  -readability-isolate-declaration,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-simplify-boolean-expr,
  -readability-magic-numbers,
  -readability-avoid-return-with-void-value,
HeaderFilterRegex: '.*\.(c|cxx|cpp)$'